body {
    min-width: 1320px;
    overflow-x: hidden;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td ,textarea,input { margin:0; padding:0;  }
address,cite,dfn,em,var, i {font-style:normal;}
body {font-size: 16px; line-height: 1.5; font-family:'Microsoft Yahei','simsun','arial','tahoma';  color: #333; }
table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6, th { font-size: 100%; font-weight: normal; }
button,input,select,textarea{font-size:100%;}
fieldset,img{border:0;}
a,
img {
    -webkit-touch-callout: none
}
a,
a:active,
a:focus,
a:hover,
a:visited {text-decoration: none}
input[type=password],
input[type=text],
textarea {
    resize: none;
    outline: 0;
    -webkit-appearance: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: #fff
}
ul, ol { list-style: none; }
:focus{ outline:none;}
.clearfix{ clear: both; content: ""; display: block; overflow: hidden }
.clear{clear: both;}
.fl{ float: left; }
.fr{float: right;}

.title-button{
    background-color: #FBB03B;
    color: white;
    font-size: 24px;
    width: 125px;
    height: 28px;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: STHeiti-Medium, serif;
    position: relative;
    z-index: 4;
}

@font-face {
    font-family: "YSHaoShenTi";
    src: url("../static/font/YSHaoShenTi-2.ttf");
}
@font-face {
    font-family: "STHeiti-Light";
    src: url("../static/font/STHeiti-Light-3.ttc");
}
@font-face {
    font-family: "STHeiti-Medium";
    src: url("../static/font/STHeiti-Medium-4.ttc");
}
@font-face {
    font-family: "STHeiti-Thin";
    src: url("../static/font/STHeiti-Thin-1.ttc");
}
@font-face {
    font-family: "STHeiti-UltraLight";
    src: url("../static/font/STHeiti-UltraLight-2.ttc");
}

/*一级标题*/
.h1-title-dark{
    font-size: 48px;
    font-family: STHeiti-Medium, serif;
    font-weight: 500;
    color: #000045;
    line-height: 71px;
}

/*一级标题*/
.h1-title{
    font-size: 48px;
    font-family: STHeiti-Medium, serif;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 71px;
}

.h15px{
    width: 100%;
    height: 15px;
}

.h25px{
    width: 100%;
    height: 25px;
}

.h30px{
    width: 100%;
    height: 30px;
}

.h50px{
    width: 100%;
    height: 50px;
}

.h58px{
    width: 100%;
    height: 58px;
}

.h60px{
    width: 100%;
    height: 50px;
}

.padding-left{
    padding-left: 238px;
}