.flog-content {
    width: 560px;
    height: 714px;
    position: relative;
}

.flog-content-bg0 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.flog-content-bg1 {
    position: absolute;
    left: 250px;
    top: 0;
    z-index: 2;
}

.flog-content-bg2 {
    position: absolute;
    left: 305px;
    top: 64px;
    z-index: 2;
}

.flog-content-f {
    position: absolute;
    left: 361px;
    top: 123px;
    z-index: 2;
}